$background_color: #fff;

$primary_color: #fff;
$primary_dark_color: #6D7381;
$primary_light_color: #F7845C;
$primary_green: #23A455;

$grey_light_color: #6E7793;
$red_color: #FC4D5C;
$green_color: #00C28E;
$yellow_color: #FAB416;
$orange: #F7845C;

$light_gray: rgba(218, 218, 218, 0.56);
$light_gray_2: #D8D8D8;
$light_gray_3: #979797;

$gray: #6D7381;
$dark_gray: #333;
